.products-container {
    border: 1px solid lightslategray;
    border-radius: 0.5rem;
    padding-left: 4rem;
    margin: auto;
    box-shadow: 0 0 0.25rem gray;
    text-align: center;
    background-color: lightslategray;
    width: 1500px;
}

.products-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    align-items: start;
}